@import "tailwindcss";

/* ================= Theme ================= */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* ================= Font Utility Classes ================= */

/* Playfair Display */
.playfair-display {
  font-family: var(--font-playfair);
}

/* Poppins */
.poppins-font {
  font-family: var(--font-poppins);
}

/* Work Sans */
.worksans-font {
  font-family: var(--font-worksans);
}

/* Inter */
.inter-font {
  font-family: var(--font-inter);
}

/* Geist */
.geist-font {
  font-family: var(--font-geist-sans);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
